
body, html {
    margin: 0;
}

.container {
    display: grid;
    background-color: lightblue;
    font-family: "Pixel Font";
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr 9fr;
}

.main {
    background-color: lightcoral;
    opacity: 70%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.battle-screen {
    grid-row: 1;
    background-color: red;
    opacity: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.allyPokemonSprite {
    grid-row: 2;
    grid-column: 1;
    background-color: orange;
}

.allyPokemonBattleBar {
    grid-row: 2;
    grid-column: 2;
    background-color: yellow;
}

.cpuPokemonSprite {
    grid-row: 1;
    grid-column: 2;
    background-color: crimson;
}

.cpuPokemonBattleBar {
    grid-row: 1;
    grid-column: 1;
    background-color: brown;
}

.battle-menu {
    grid-row: 2;
    background-color: pink;
    opacity: 30%;
}
