
body, html {
    margin: 0;
}

.container {
    display: grid;
    font-family: "Pixel Font";
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr 9fr;
}

.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5%;
}

.menu {
    flex-direction: column;
    background-color: yellowgreen;
    width: 50%;
    height: 50%;
    border-radius: 5%;
}

.menu-header-text {
    padding-left: 3%;
    padding-top: 3%;
    margin: 0;
}

.menu-text {
    padding-left: 3%;
    margin: 0;
}

.randomized-selector {
    padding-bottom: 5%;
}

#battlePropertiesSubmit {
    margin-left: 3%;
}
